{% extends 'listit/base.html' %}
Completed
{% block content %}
    <ul>
        {% for item in items %}
            <li>
                <a href="{% url 'viewitem' item.id %}">
                    {% if item.important %}
                        <b>
                    {% endif %}

                    {{ item.title }}

                    {% if item.important %}
                        </b>
                    {% endif %}

                    {% if item.memo %}
                    - {{ item.memo }}
                    {% endif %}

                    {{ item.completed_at|date:'M j Y H:i' }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}